<footer class="footer">
    <div class="container">
	    <div class="row">
		    <div class="col-md-12">
                <img src="/app/img/ncsc-white.png" alt="NCSC">
			</div>
		</div>
		
        <div class="row">
            <div class="col-md-12 text-right align-self-end">
                <a class="no-link" href="https://www.nationalarchives.gov.uk/information-management/our-services/crown-copyright.htm" rel="external">
                    <span>&copy; Crown copyright</span>
                </a>
            </div>
        </div>
    </div>
</footer>