.footer {
  bottom: 0;
  width: 100%;
  height: 200px;
  background-color: #34363c;
}

.container {
  padding-top: 15px;
  padding-bottom: 15px;
  /*height: 100%;*/
}

a:hover {
  color: white;
  text-decoration: none;
}

a {
  color: #d7dbe5;
  text-decoration: none;
}

.block-title {
  color: white;
}
