.Statistic {
  border-left: 8px solid #082147;
  padding-left: 15px;
  margin-top: 35px;
}

.StatisticTitle {
  margin-bottom: 0px;
  font-weight: bold;
}

.StatisticValue {
  margin-top: 0px;
  font-weight: bold;
}

.StatisticPeriod {
  margin: 0;
  color: gray;
}
